In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [5]:
df['Geography'][df['Geography'] == 'France'] = 0
df['Geography'][df['Geography'] == 'Spain'] = 1
df['Geography'][df['Geography'] == 'Germany'] = 2
df['Gender'][df['Gender'] == 'Male'] = 0
df['Gender'][df['Gender'] == 'Female'] = 1

C:\Users\HP\AppData\Local\Temp/ipykernel_26596/771560801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Geography'][df['Geography'] == 'France'] = 0
C:\Users\HP\AppData\Local\Temp/ipykernel_26596/771560801.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Geography'][df['Geography'] == 'Spain'] = 1
C:\Users\HP\AppData\Local\Temp/ipykernel_26596/771560801.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Geography'][df['Geography'] == 'Germany'] = 2
C:\Users\HP\AppData\Local\Temp/ipykernel_26596/771560801.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'][df['Gender'] == 'Male'] = 0
C:\Users\HP\AppData\Local\Temp/ipykernel_26596/771560801.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'][df['Gender'] == 'Female'] = 1

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,1,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,1,1,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,1,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,1,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,1,1,43,2,125510.82,1,1,1,79084.10,0

In [7]:
X = df[['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']]
Y = df['Exited']

In [1]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, shuffle=True, stratify=Y)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\HP\AppData\Local\Temp/ipykernel_19928/290624662.py", line 1, in <module>
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, shuffle=True, stratify=Y)
NameError: name 'train_test_split' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\inspect.py", line 1505, in getframeinfo
    lines, lnum = findsource(frame)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\ultratb.py", line 182, in findsource
    lines = linecache.getlines(file, globals_dict)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\linecache.py", line 46, in getlines
    return updatecache(filename, module_globals)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\tokenize.py", line 394, in open
    encoding, lines = detect_encoding(buffer.readline)
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\tokenize.py", line 363, in detect_encoding
    first = read_or_stop()
  File "c:\Users\HP\AppData\Local\Programs\Python\Python39\lib\tokenize.py", line 321, in read_or_stop
    return readline()
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [9]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((8000, 10), (2000, 10), (8000,), (2000,))

In [10]:
model = MLPClassifier(random_state=1, max_iter=300)

In [11]:
model.fit(X_train, Y_train)

MLPClassifier(max_iter=300, random_state=1)

In [12]:
Y_pred = model.predict(X_test)

In [13]:
accuracy_score(Y_test, Y_pred)

0.4715